body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #13566b;
}
.header > h1{
  color: white;
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.editorMainContainer {
  width: 600px;
  margin: 18px auto;
}
.editorWrap_maximized{
  width: 100%;
  height: 100%;
}
.editorWrap_hide{
  display: none;
}
.Editor {
  margin: 0px;
  width: 578px;
  height: 200px;
  line-height: normal;
  transition: none 0s ease 0s;
  background: aliceblue !important;
  box-shadow: 1px 1px 10px 2px #142929;
  padding: 10px 10px 10px 10px;

}
.texteditor{
  margin: 0px;
    width: 100%;
    height: 650px;
    line-height: normal;
    transition: none 0s ease 0s;
    background: aliceblue !important;
    box-shadow: 1px 1px 10px 2px #142929;
}
.previewMainContainer{
  width: 700px;
  margin: 18px auto;
}
.Preview {
  margin: 0px;
  line-height: normal;
  transition: none 0s ease 0s;
  background: aliceblue !important;
  box-shadow: 1px 1px 10px 2px #142929;
  margin-top: 0px;
  padding: 10px 10px 10px 10px;
}
.previewWrap_hide{
  display: none;
}
.previewWrap_maximized{
  width: 100%;
  height: 100%;
}
.PreviewMaximize{
  margin: 0px;
  width: 100%;
  height: 100%;
  line-height: normal;
  transition: none 0s ease 0s;
  background: aliceblue !important;
  box-shadow: 1px 1px 10px 2px #142929;
}

#preview p,h1,h2,h4 {
  margin-top: 0px
}
.fa{
  font-size: 20px;
  cursor: pointer
}

#editorBar {
  background-color: #4aa3a3;
  border: 1px solid #1d2f2f;
  box-shadow: 1px 1px 10px 2px #142929;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 5px 5px 5px 5px;
}
#editorBar h4{
  margin: 0px;
}
.fa-compress:hover,
.fa-arrows-alt:hover {
  color:  white;
  cursor: pointer;
}